boto==2.49.0
boto3  
botocore  
Bottleneck  
brotlipy==0.7.0
bz2file==0.98
certifi==2021.10.8
cffi  
charset-normalizer  
click==8.0.3
cryptography  
cycler  
Cython  
dgl==0.6.1
fonttools==4.25.0
gensim  
grandalf==0.7
idna  
jmespath  
joblib  
kiwisolver  
matplotlib  
mkl-fft==1.3.1
mkl-random  
mkl-service==2.4.0
munkres==1.1.4
netgraph==4.1.0
networkx  
nltk==3.6.5
numexpr  
numpy  
olefile  
packaging  
pandas==1.3.4
Pillow==8.4.0
pycparser  
pyOpenSSL  
pyparsing  
PySocks  
python-dateutil  
python-louvain  
pytz==2021.3
rectangle-packer==2.0.1
regex  
requests  
s3transfer  
scikit-learn  
scipy  
sip==4.19.13
six  
smart-open==1.9.0
threadpoolctl  
torch==1.10.1
tornado  
tqdm  
typing-extensions  
urllib3==1.26.7
